/*
global css
*/

*{
	margin: 0px;
	padding: 0px;

}
a{
	text-decoration: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 100%;

}

@media(min-width: 960px){
	.container{
		width: 1140px;
		margin: 0 auto;
	}
}

/*
top heaeder css
*/
.top-header{
	background-color: #EAEFFF;
}

.top-header .left span{
	color: #FA885D;
	font-size: 14px;
	margin-right: 16px;
}

.top-header .left a{
	color: #0C3E72;
	font-size: 14px;
	margin: 0 15px;
}

.top-header .right {
	text-align: right;

}

.top-header .right span{
	font-size: 14px;
	color: #0C3E72;
	margin-left: 16px;
}
.top-header .right span i{
	color: #FA885D;
	margin-right: 6px;
}

.top-header .right ul li a i {
	font-size: 14px;
	color: #0C3E72; 
	margin: 0 15px;
}

.custom-btn{
	background: #FA885D;
	padding: 16px 32px;
	border: none;
	color: white;
	font-size: 16px;
}

.custom-btn:hover{
	background: #0C3E72;
}

.nav-link{
	color: #0c3e72 !important;
}

.nav-link:hover{
	color: #FA885D !important;
}

.nav-item{
	margin: 0 18px;
}


/*
banner section code
*/

#banner{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../img/banner_bg.png);
}

.b-content{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}

.b-content h1{
	font-size: 120px;
    
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    
}
.b-content p{
   font-size: 24px;
    color: #fff;
    font-weight: 400;
}

.banner-btn {
	margin-top: 60px;
    background-color: #2493e0;
    padding: 23px 79px;
    border: none;
    color: white;

}

.banner-btn:hover{
	background: #FA885D;
}

 /*
 search section css
 */

 .trigger-item ul li{

 	padding: 24px;
 	color: #0c3e72;

 	position: relative;

 }
.search-wrapper {
     margin-top: -72px; 
     background-color: white;   
  	
  }

 .s-form{
 	background-color: white;
    box-shadow: 0px 10px 40px 0px rgb(221 221 221 / 30%);
    padding: 40px;
}
 
.line{
     position: absolute;
    height: 2px;
    width: 100%;
    background: #0c3e72;
    bottom: 0px;
    left: 0px;
}

.s-form form select {

	
    padding: 16px 24px;
    margin-right: 24px;
    width: 206px;
    border-color: #2493e0;
    color: #2493e0;
    align-items: center;
    border-radius: 0;

}


/*
places section css
*/

#places {
	width: 100%;
	padding: 100px 0px;
}

.section-tittle{
	margin-bottom: 32px;
	text-align: center;
}

.section-tittle h2{
	font-size: 46px;
    color: #0c3e72;
    line-height: 1.1;
    font-weight: 700;
    position: relative;
    margin-bottom: 26px;

}

.section-tittle p{
   
   color: #777;
    font-weight: 400;
   font-size: 16px;
}

.p-item {
	position: relative;

}

.p-item::before{
	content: '';
   position: absolute;
   
   top: 0px;
   right: 0px;
   left: 0px;
   bottom: 0px;
   background-color: #0c3e72;
   opacity: 0;
   transition: 0.5s;
}

.p-item:hover::before{
	opacity: 0.75;
	transition: 0.5s;
}


.p-content a{
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background-color: #fe5c24;
    text-transform: capitalize;
    margin-bottom: 14px;

}

.p-content h3{
	font-size: 30px;
    line-height: 36px;
    color: #fff;
	
}
.p-content p{
	margin-bottom: 16px;
	color: #fff;
	font-size: 16px;
}
.p-content span{
    color: #fff;

}
.p-content span i{
	color: #fe5c24 !important;
	
}


.p-content{

	position: absolute;
	bottom: 40px;
	left: 40px;
	opacity: 0;
	transition: 1s;

}

.p-item:hover .p-content{
	opacity: 1;
	transform: translateY(-10px);
	transition: 1s;

}
.btn_1 {
    text-align: center;
    margin-top: 50px;

}

/*
slider section css*/

#event-slider{
	width: 100%;
	padding: 120px 0px;
	background-image: url(../img/sliderbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-box{
	background-color: white;
	padding: 60px;
}


.slider-box h6{
	font-size: 16px;
	color: #fe5c24;
	margin-bottom: 18px;
}

.slider-box h3{
	font-weight: 700;
    margin-bottom: 25px;
    color: #0c3e72;
    font-size: 30px;
}
.slider-box p {
	margin-bottom: 20px;
	color: #848484;
}

.slider-box p span {
	color: #0c3e72 ;
}

.review-star i{
	color: #ffc962;
}

#event-slider .owl-dots {
	display: none;
}


#event-slider .owl-prev{

	position: absolute;
	 color: #fe5c24 !important;
	left: 0;
	background: rgba(255,255,255,0.5);
	width: 60px;
	height: 60px;
	border-radius: 100%;
	font-size: 32px;
	text-align: center;
	top: 50%;
}

#event-slider .owl-next{
	position: absolute;
	 color: #fe5c24 !important;
	right: -80px;
	background: rgba(255,255,255,0.5);
	width: 60px;
	height: 60px;
	border-radius: 100%;
	font-size: 32px;
	text-align: center;
	top: 50%;
}

/*
popular section CSS
*/

#popular-hotel{

	width: 100%;
	padding: 120px 0px;
}

.hotel-bannerimg{
	margin-bottom: 24px;
}

.h-item{

	border-bottom: 1px solid #ced8e3;

}

#popular-hotel h3{
  color: #0c3e72;
  font-size: 24px;
  margin-bottom: 21px;
}
#popular-hotel .i-color {
	 margin-bottom: 10px;
}
#popular-hotel .i-color i{
    color: #fe5c24 ;
}

#popular-hotel .i-color span{
	color: #0c3e72;
}

.hotel-add{
	color: #a2a2a2;
}
.budget{
	color: #0c3e72;
}
.budget span{
	color: red;
}
.h-link a{
	margin-bottom: 6px;
}

.h-link a i {
   
   background-color: rgba(255,255,255,0.5);
   height: 40px;
   width: 40px;
   color: white;
   text-align: center;
   line-height: 40px;
   border-radius: 100%;
}

.h-link div a i {

  background-color: rgba(255,122,75,.7);

}

.hotel-bannerimg{
	position: relative;
}
.h-link{
	position: absolute;
	bottom: 20px;
    right: 20px;
}

.h-link div{
	transform: scaleY(0);
	transition: 0.5s;
     

}

.h-link:hover div {
	transform: scaleY(1);
	transition: 0.5s;

}

.h-share {
	transform: scaleY(1);
	transition: 0.5s;
}

.h-link:hover .h-share{
	transform: scaleY(0);
	transition: 0.5s;
}


/*
testimonial section css

*/

#reviews {
	width: 100%;
	padding:120px 0px;
	background-color: #0c3e72;
}
 



.t-card{

	background-color: #0e477d;
    padding: 30px;
}


.t-card p {
	line-height: 28px;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 400;
}


.t-card h5 {
	font-size: 16px;
}


.head-tag h1{
	 font-size: 46px;
    color: white;
    line-height: 1.1;
    font-weight: 700;
    position: relative;
    margin-bottom: 26px;
}

.owl-dots{
	display: none;
}

#reviews .owl-prev {
    position: absolute;
    top: -100px;
    right: 50px;
    background: #2493e0;
    height: 38px;
    width: 38px;
    font-size: 36px;
    line-height: 38px;
    color: white;
}

#reviews .owl-next {
    position: absolute;
    top: -100px;
    right: 0px;
    background: #2493e0;
    height: 38px;
    width: 38px;
    font-size: 36px;
    line-height: 38px;
    color: white;
}


/*
service section css
*/


#service{
	width: 100%;
	padding: 100px 0px;
}

.servic-tittle h2{

  font-size: 46px;
    color: #0c3e72;
    font-weight: 700;
    position: relative;
    margin-bottom: 26px;
    text-align: center;
  }  

  .service-tittle p {
    font-size: 16px;
    color: #777;
    font-weight: 400;
    margin-bottom: 100px;
    text-align: center;
}

.service-item a{
   color: #0c3e72 ;
    font-size: 24px;
    margin-top: 18px;
    
}

.service-item p{
    color: #a2a2a2;
    font-size:  16px;
    font-weight: 400;
    margin-top: 10px;
}


/*
footer section css
*/

.footer {
	width: 100%;
    background-color: #162b45;
    padding: 80px 0px;
    margin-top: 60px;
}
.footer-heading h3{
	color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
} 
.f-address ul li a {
	color: #fff;
    text-decoration: none;
    transition: .5s;
    font-size: 16px;
    margin-left: -30px;
    transition: 0.4s;
}

.f-address ul li {
	list-style: none;
	margin-bottom: 2px;

}
.f-address ul li a:hover{
	color: #fe5c24;
	transition: 0.4s;
}
.footer-field {
    background-color: #092742;
    border: none;
    border-radius: 0;
    color: #fff;


}

.f-form input{
	height: 40px;
    width: 78%!important;
    font-weight: 400;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    color: #999;
    background-color: #092742;
    border: 0 solid transparent;
}

.footer-btn{

    background-color: #fe5c24;
    color: #fff;
    padding: 6px 14px;
    border-radius: 0;
    white-space: nowrap;
    border: 0px;

}

.f-p p{
	color: #fff;
    font-size: 16px;
    font-weight: 300;
    
}

.f-p h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.email {

    color: #fe5c24;
    margin-top: 20px;


}

.foot-social-link i {
	font-size: 14px;
	color: white;
	margin-top: 20px;
	transition: 0.4s;
}

.foot-social-link i:hover{
	color: #fe5c24;
	transition: 0.4s;

}



/*coptrght*/

.footer-cright{
	width: 100%;
	background-color: #08223a;
    padding: 32px 15px;
    
}

.copr-content h3{
	color: #777;
	font-size: 1rem;
	   
}

.copr-content  span a{
	
	color: #fe5c24;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none
}



